<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <%- include("./partials/head"); %>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
        <section class="landing-page">
            <div class="presentacion">
                <h1 class="Hola"><span class="Hola_a">H</span>ola,</h1>
                <h4>Mi nombre es Carlos</h4>
                <p class="descripcion-corta">Soy un desarrolador enfocado en encontrar soluciones efectivas a los problemas, a partir de la tecnlogia. 
                    Programador, desarollador - web, apasionado de la 
                    electronica, fotógrafo y otras cosas.</p>
                    <button class="inicio"><a href="/contacto">¡Contáctame!</a></button>
            </div>
            
            <div class="proyectos_destacados">
                <div class="row row-cols-2 row-content">
                    <div class="col">
                        <img src="./img/Frias-logo.png" alt="Frias Insurance" width="303px" height="138px">
                    </div>
                    <div class="col">
                        <img src="./img/Logo_Oxyser.png" alt="Oxyser" width="303px" height="138px">
                    </div>
                    <div class="col">
                        <img src="./img/Logo_Caoba.png" alt="Caoba" width="303px" height="138px">
                    </div>
                    <div class="col">
                        <img src="./img/Logo_MonBelAnge.png" alt="Mon Bel Ange" width="303px" height="138px">
                    </div>
                  </div>
                  <p class="conocer-mas">Más proyectos en: <span class="portafolio-mas"><a href="/proyectos">Portafolio</a></span></p>
            </div>
        </section>
        <section class="sobre-mi">
            <div class="seccion-fotografia">
                <div class="foto">
                    <img src="./img/mi_foto.jpg" alt="Mi foto">
                    <div class="color-superpuesto"></div>
                    <!-- <div class="marco"></div> -->
                </div>
                
            </div>
            
            <div class="descripcion-perfil">
                <div class="acercademi">
                    <div class="linea"></div>
                    <h1 class="acerca">Acerca de mí</h1>
                </div>
                <p class="contenido-perfil">Hola! Mi nombre es Carlos y soy un apasionado por la 
                    tecnología e informática. Mi interés en el desarrollo 
                    comenzó en 2020 cuando decidí inscribirme a un curso de programación en el que construí pequeños proyectos que despertaron mi gusto por esta área, además de darme uno de mis mayores hobbies, la electrónica.
                    <br>
                    <br>
                    He aprendido hasta hoy herramientas  y conocimientos que me han permitido trabajar en proyectos como 
                    freelance y otros, de forma personal.
                    </p>
                <p class="algunas-tecnologias">Aquí hay algunas tecnlogías con las que he trabajado:</p>
                <ul class="skills">
                    <li>JavaScript</li>
                    <li>Adobe Photoshop</li>
                    <li>Arduino IDE</li>
                    <li>Node js</li>
                    <li>C#</li>
                    <li>MongoDB</li>
                    <li>Python</li>
                    <li>WordPress</li>
                    <li>Adobe Illustrator</li>
                    <li>Java</li>
                    
                    <li>Adobe Lightroom</li>
                    <li>Html/Css</li>
                </ul>
            </div>
        </section>
        <section class="proyectos-destacados">
            <div class="top-proyectos">
                <div class="linea-al"></div>
                <div class="algunos-proyectos">
                    <h1 class="algunos-proyectos-l">Algunos Proyectos</h1>
                </div>
                <div class="linea-al"></div>
            </div>
            <p class="descripcion-proyectos">Está es una pequeña galería de proyectos personales y laborales.  ¿Interesado en ver más? <br> Visita la sección de mis proyectos</p>
            <span class="p-destacados">Proyectos Destacados</span>
            <div class="proyecto">
                    <div class="imagen-proyecto frias">
                            <img src="./img/Frias-logo.png" alt="Logo Frias">
                            
                    </div>
                    <div class="descripcion-proyecto">
                        <h1 class="frias-titulo">Frias Insurance</h1>
                        <div class="cuadro-texto frias">
                            <p class="texto-frias">Frias insurance es una empresa de seguros en EE. UU, enfocada en la atención y servicio prioritario de inmigrantes latinos que tiene dificultades para acceder a estos servicios y/o productos de forma clara, eficiente y responsable. 
                                <br>
                                <br>
                                El proyecto consistía en el diseño y desarrollo de una página web que permitiera ofrecer estos servicios, a partir del agendamiento de una cita con la empresa o del contacto directo con la misma.
                                </p>
                        </div>
                        <p class="tecnologias-d">VS Code Sublime Text Atom iTerm2 Hyper</p>
                        <div class="iconos">
                            <a href="https://github.com/CarlosCortesV"><img src="./img/github_pequeño.png" alt="Github"></a>
                            <a href="https://drive.google.com/drive/folders/1oBc4OZHf5APUJQKiJeW3ReIxTJNB2Vyi?usp=sharing"><img src="./img/external-link.png" alt="Link"></a>
                        </div>
                    </div>
            </div>
            <span class="p-destacados-2">Proyectos Destacados</span>
            <div class="proyecto">
                    <div class="descripcion-proyecto">
                        <h1 class="Oxyser-titulo">Oxyser</h1>
                        <div class="cuadro-texto">
                            <p>Oxyser es una empresa que ofrece el alquiler de equipos de oxígeno las 24 horas. 
                                En esta oportunidad el proyecto consistía en realizar el diseño conjunto de la identidad de la marca con la empresa y, por consiguiente, el desarrollo del sitio web, permitiendo poder conectar todos sus medios de comunicación entre sí.</p>
                        </div>
                        <p class="tecnologias-d-1">VS Code Sublime Text Atom iTerm2 Hyper</p>
                        <div class="iconos l">
                            <a href="https://github.com/CarlosCortesV"><img src="./img/github_pequeño.png" alt="Github"></a>
                            <a href="https://carlocortes.up.railway.app/"><img src="./img/external-link.png" alt="Link"></a>
                        </div>
                    </div>
                    <div class="imagen-proyecto oxy">
                        <img src="./img/Logo_Oxyser.png" alt="">
                    </div>
            </div>
            <span class="p-destacados">Proyectos Destacados</span>
            <div class="proyecto">
                <div class="imagen-proyecto mon">
                    <img src="./img/Logo_MonBelAnge.png" alt="">
                </div>
                <div class="descripcion-proyecto">
                    <h1 class="monbelange-titulo">Mon Bel Ange</h1>
                    <div class="cuadro-texto">
                        <p>Mon Bel Ange es una empresa de pastelería y chocolatería artesanal que busca ofrecer al cliente una experiencia en la que pueda personalizar sus productos.
                            En esta oportunidad el proyecto consistía en realizar el diseño conjunto de la identidad de la marca con la empresa y, por consiguiente, el desarrollo del sitio web, permitiendo poder conectar todos sus medios de comunicación entre sí.</p>
                    </div>
                    <p class="tecnologias-d">VS Code Sublime Text Atom iTerm2 Hyper</p>
                    <div class="iconos">
                        <a href="https://github.com/CarlosCortesV"><img src="./img/github_pequeño.png" alt="Github"></a>
                        <a href="https://www.instagram.com/monbelange.co/"><img src="./img/external-link.png" alt="Link"></a>
                    </div>
                </div>
            </div>
            <span class="p-destacados-2">Proyectos Destacados</span>
            <div class="proyecto">
                    <div class="descripcion-proyecto">
                        <h1 class="caoba-titulo">Caoba</h1>
                        <div class="cuadro-texto">
                            <p>¡Bienvenido a Caoba, donde el arte del emprendimiento cobra vida! Un proyecto innovador donde creamos un modelo de negocio cautivador, diseñamos un producto excepcional, forjamos una identidad visual distintiva y tejemos una plataforma web que enamorará a todos. 
                                Sumérgete en la magia de Caoba y únete a este viaje hacia el éxito empresarial.</p>
                        </div>
                        <p class="tecnologias-d-1">VS Code Sublime Text Atom iTerm2 Hyper</p>
                        <div class="iconos l">
                            <a href="https://github.com/CarlosCortesV"><img src="./img/github_pequeño.png" alt="Github"></a>
                            <a href="https://drive.google.com/drive/folders/1aYmvn_2Bi187T7m1jYz8di1W_tU7nmwZ?usp=sharing"><img src="./img/external-link.png" alt="Link"></a>
                        </div>
                    </div>
                    <div class="imagen-proyecto cao">
                        <img src="./img/Logo_Caoba.png" alt="">
                        
                    </div>
            </div>
        </section>
        <section class="mas-proyectos">
           <div class="titulomas-divisiones">
                <div class="linea-al"></div>
                <h1 class="titulo--masproyectos">Más proyectos destacados</h1>
                <div class="linea-al"></div>
           </div>
            
            <div class="content-mas-proyectos">
                <div class="info-proyecto">
                    <div class="iconos">
                        <a href="https://github.com/CarlosCortesV"><img src="./img/github_pequeño.png" alt="Github"></a>
                        <a href="https://carlocortes.up.railway.app/"><img src="./img/external-link.png" alt="Link"></a>
                    </div>
                    <div class="title">
                        <img src="" alt="">
                        <h1 class="titulos-masproyectos">Tasks App - CRUD</h1>
                    </div>
                    <p class="parrafo-masproyectos">App que permite crear tareas, editarlas y eliminarlas, además de poder agrupar las tareas por fecha de realización.</p>
                </div>
                <div class="info-proyecto">
                    <div class="iconos">
                        <a href="https://github.com/CarlosCortesV"><img src="./img/github_pequeño.png" alt="Github"></a>
                        <a href="https://carlocortes.up.railway.app/"><img src="./img/external-link.png" alt="Link"></a>
                    </div>
                    <div class="title">
                        <img src="" alt="">
                        <h1 class="titulos-masproyectos">Generar de Contraseñas</h1>
                    </div>
                    <p class="parrafo-masproyectos">Aplicación desarrollada en Java que permite la creación de contraseñas, a partir de un sistema que toma caracteres aleatorios en un rango de 15 caracteres y produce contraseñas seguras.</p>
                </div>
                <div class="info-proyecto">
                    <div class="iconos">
                        <a href="https://github.com/CarlosCortesV"><img src="./img/github_pequeño.png" alt="Github"></a>
                        <a href="https://carlocortes.up.railway.app/"><img src="./img/external-link.png" alt="Link"></a>
                    </div>
                    <div class="title">
                        <img src="" alt="">
                        <h1 class="titulos-masproyectos">Drone - Arduino</h1>
                    </div>
                    <p class="parrafo-masproyectos">El proyecto "SkyCraft" fue un emocionante desafío que me apasionó desde el principio. 
                        Al combinar mis habilidades en ingeniería y programación con la versatilidad de Arduino, logré dar vida a un drone único y sorprendente.</p>
                </div>
                <div class="info-proyecto">
                    <div class="iconos">
                        <a href="https://github.com/CarlosCortesV"><img src="./img/github_pequeño.png" alt="Github"></a>
                        <a href="https://carlocortes.up.railway.app/"><img src="./img/external-link.png" alt="Link"></a>
                    </div>
                    <div class="title">
                        <img src="" alt="">
                        <h1 class="titulos-masproyectos">Oxyser - Web</h1>
                    </div>
                    <p class="parrafo-masproyectos">Diseño, desarrollo y despliegue de página web utilizando wordpress como CMS y Adobe Illustrator para el UI en el campo del desarrollo de la interfaz.</p>
                </div>
                <div class="info-proyecto">
                    <div class="iconos">
                        <a href="https://github.com/CarlosCortesV"><img src="./img/github_pequeño.png" alt="Github"></a>
                        <a href="https://oxyser.com.co/"><img src="./img/external-link.png" alt="Link"></a>
                    </div>
                    <div class="title">
                        <img src="" alt="">
                        <h1 class="titulos-masproyectos">Frias Insurance </h1>
                    </div>
                    <p class="parrafo-masproyectos">Diseño, desarrollo y despliegue de página web utilizando wordpress como CMS, Elementor y Adobe Illustrator para el UI en el campo del desarrollo de la interfaz.</p>
                </div>
                <div class="info-proyecto">
                    <div class="iconos">
                        <a href="https://github.com/CarlosCortesV"><img src="./img/github_pequeño.png" alt="Github"></a>
                        <a href="https://carlocortes.up.railway.app/"><img src="./img/external-link.png" alt="Link"></a>
                    </div>
                    <div class="title">
                        <img src="" alt="">
                        <h1 class="titulos-masproyectos">Sistema de soluciones geometrícas</h1>
                    </div>
                    <p class="parrafo-masproyectos">Este proyecto personal es una poderosa herramienta que combina la magia de las matemáticas con la elegancia de la geometría. Diseñado para resolver desafíos geométricos de manera eficiente y creativa.</p>
                </div>
            </div>
            <div class="botonmostrarmas">
                <a href="/proyectos"><input type="button" value="Mostrar más" class="mostrarmas"></a>
            </div>
        </section>       
        <%- include("./partials/form"); %>
    </main>
    <%- include('./partials/socialcontact'); %>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>
</html>